.Navbar{
    box-Shadow:0 0 8px #89b3e3;
}
.brand,
.brand2{
    background: linear-gradient(to left, #4A94C2,#235E83);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
}
.colornav{
    height: 100%;
    color:#4A94C2;
    transition: 0.3s;
    text-decoration: none;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.colornav:hover{
    color:#235E83;
    
}


.footer2{
    /* margin-top: 100px; */
}
@media(max-width:990px){
    .colornav{
    margin-left:0;
 
     margin-top: 10px;
    }
}

@media(max-width:601px){
    .Navbar{
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 100;
        background: rgb(19, 39, 98);
        background: linear-gradient(90deg, rgba(19, 39, 98, 0.72rgba(19, 39, 98, 0.469)9,98,1) 0%, rgba(19,39,98,1) 49%, rgba(29,52,119,1) 100%);
        box-Shadow:0 0 8px rgb(19, 39, 98);
        }
    .brand,
.brand2{
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    font-size: 25px;
}
    .Offcanvas{
        background: #000000a4;
    }

    .close{
        color: #fff;
        background: rgba(19, 39, 98, 0.852);
        background: linear-gradient(90deg, rgba(19, 39, 98, 0.72rgba(19, 39, 98, 0.469)9,98,1) 0%, rgba(19,39,98,1) 49%, rgba(29,52,119,1) 100%);
    }
    .brand2{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .colornav{
        color: #fff;
    }
    .colornav{
        color: #fff;
    }
}
@media(max-height:1369px){
    
    /* .footer2{
        margin-top: 500px;
    } */
}