.allDown{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}
.bac{
    display: flex;
}
.image{
    display: flex;
    background: #000;
    margin: 20px;
    padding: 10px;
    border-radius:20px;
}
.image img{
    width: 50px;
}
.text h5{
    color: #fff;
    font-size: 13px;
    margin-top: 16px;
}

.allDown a{
    text-decoration: none;
    color: #000;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 100px;
}
.allDown a:hover{
   transform: scale(1.1);
}
@media(max-width:601px){
    
    .bac{
       
        display: block;
      
    }
   
}