.Home{

    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img img{
    width:400px;
}
.Home h1{
    /* margin-right: 200px; */
    font-size: 100px;
    background: linear-gradient(to left, #4A94C2,#235E83);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.img2{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin-bottom: 100px; */
    background: linear-gradient(to left, #4A94C2,#235E83);
    color: #fff;

}
.img3{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img4{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* flex-direction: column; */
    /* margin-bottom: 100px; */
    background: linear-gradient(to left, #4A94C2,#235E83);
    color: #fff;

}
.img2 img,
.img4 img{
    width: 300px;
    height: 60%;
    /* background: #fff; */
}
.text{
    /* margin-top: 30px; */
}
.text span{
    font-size: 50px;
   position: relative;
   bottom: 10px;
   border-radius: 50%;
}
.images .imageiphone{
    width: 240px;
    height: 370px;
}
@media(max-width:735px){
    .Home{
        height: 90vh;
        display: block;
    }
     
    .Home h1{
        font-size:70px ;
    }
    .img img{
        width:300px;
    }
   
    .img2 img{
        width:220px;
        height: 40%;
    }
    .img3 img{
        width:250px;
        height: 30%;
    }
    .img4 img{
        width:250px;
        height: 30%;
    }
    
    .img2 h4,
    .img3 h4,
    .img4 h4{
        font-size: 13px;
    }
    .img2 h1,
    .img3 h1,
    .img4 h1{
        font-size: 16px;
    }
    .text span{
        font-size: 50px;
       position: relative;
       bottom: 3px;
       border-radius: 50%;
    }
    .images .imageiphone{
        width:180px;
        height: 280px;
    }
   
}
@media(max-width:281px){
    .Home h1{
        font-size:50px ;
    }
    .img img{
        width:250px;
    }
    .images .imageiphone{
        width:130px;
        height: 280px;
    }
    .images img{
        width:180px;
        height: 280px;
    }
}