.allSwiper{
  width: 100%;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mySwiper,
.mySwiper2{
  /* width:350px; */
  width: 80%;
  height:600px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image{
  width: 100%;
  height: 100%;
}
.mySwiper .image img{
  width: 100%;
  height: 100%;
  cursor: pointer;
}
@media(max-width:601px){
  .mySwiper,
.mySwiper2{
  width: 100%;

}
  .mySwiper{
    /* width:100%; */
  height: 550px;
  }
}
@media(max-width:281px){
  .mySwiper,
  .mySwiper2{
    width: 100%;
  
  }
  .mySwiper{
    /* width:100%; */
  height:400px;
  }
}
