/* .allSwiper{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */


.mySwiper{
  width:90%;
  height: 150px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}