.Alathkar{
    width: 100%;
    height: 100vh;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.cards{
    width: 100%;
    height: 70px;
    transition: 0.3s;
    border: 1px solid #2d93d3;
    border-radius: 10px;
}

.cards:hover{
    transform: scale(1.1);
    background: #2d93d3;
}
.cards .number{
    width: 50px;
    height: 50px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
    border-radius: 10px;

}
.cards .number:hover{
    background: #fff;

}
.link{
    text-decoration: none;
    color: #2d93d3;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.link:hover{
 
    color: #fff;
   
}
.cards h6{
    font-size: 15px;
}
@media(max-width:769px){
    .Alathkar3{
        width: 100%;
    }
    .Alathkar{
        height: 130vh;
    }

 
    .Alathkar3 img:hover{
        transform: scale(1.1);
    }
    .cards{
        width: 100%;
        border: 1px solid #2d93d3;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .cards h4{
        font-size: 20px;
    }
   

}

@media(max-width:281px){
    .Alathkar3{
        width: 250px;
    }

    .Alathkar3 h6{
        font-size: 12px;
    }
}