.navbarRam{
    width: 100%;
    background-repeat:no-repeat ;
    color: #fff;
    padding: 5px;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 10px #fff;
    
}

.flexnav{
   width: 100%;
   display: flex;
    align-items: center;
    justify-content: space-between;
}
.flexnav img{
    cursor: pointer;
}