

.h1btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

thead{
    width: 100%;
    background: #500c7f;
    color: #fff;
  
}
table{
    width: 100%;
}

.btn{
    width: 30px;
    height: 30px;
    font-size: 15px;
    /* background: #500c7f; */
    border: 1px solid  #ccc;
    box-shadow: 0 0 4px #9a4bd2;
    color: #fff;
    border-radius: 50%;
    margin-left: 20px;
}
td{
    /* width: 50px; */
    height: 30px;
    color: #fff;
    cursor: pointer;
}
.btncard{
    width:70px;
    border-radius: 40px;
    background: #500c7f;

}
th{
    /* width: 100%; */
    display: flex;
  
}

tr{
    /* width: 100%; */
    border-bottom: 1px solid #500c7f;
    display: flex;
    justify-content: space-between;
    padding: 10px;

}
.h1 {
    width: 100%;
    background: #fff4;
    color: #500c7f;
    display: flex;
    justify-content: space-around;
}
.alltable{
    margin-top: 100px;
    width: 100%; 
    background: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;

}
@media(max-width:601px){
    .btn{
        margin-left:10px ;
    }
    .btncard{
        width:50px;
        border-radius: 40px;
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}